<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
	<ul class="unstyled list-unstyled">
		<% _.each(events, function(event) { %>
			<li>
				<span class="pull-left event <%= event['class'] %>"></span>&nbsp;
				<a style="font-size: 11px;" href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>"
					data-event-class="<%= event['class'] %>" onclick="survey_info(<%= event.id %>)" class="event-item">
					<%= event.title %></a>
			</li>
		<% }) %>
	</ul>
</div>

<script>
    function survey_info(id){
        var url = document.URL;
        if(url.search("my_list") == -1)
        {
            $.ajax({
                url: "/dashboard/getSurveyInfo",
                type: "POST",
                data: {
                    survey_id: id
                },
                dataType: "json",
                success: function(data) {
                    $("#dialog_form_survey_details").data(data).dialog("open");
                },
                error: function() {
                    openErrorPopupWindow('dialog_error_alert', 'Error !!!');
                }
            });
        }
        else
        {
            $.ajax({
                url: "/mySurvey/getSurveyInfo",
                type: "POST",
                data: {
                    survey_id: id
                },
                dataType: "json",
                success: function(data) {
                    var s_id = data.survey_id;

                    $.getJSON("/mySurvey/getMySurveyNotes?s_id=" + s_id, null, function (json) {
                        notes_table.fnClearTable();
                        notes_table.fnAddData(json.aaData);
                        notes_table.fnDraw();
                    });

                    $("#dialog_form_survey_details_for_my_lists").data(data).dialog("open");
                },
                error: function() {
                    openErrorPopupWindow('dialog_error_alert', 'Error !!!');
                }
            });
        }

    }
</script>